<h4><%= idea_set.name.capitalize %></h4>
<ul>
<% idea_set.items.each do |item| %>
	<li>
		<h6><%= item.name.capitalize %></h6>
		<ul>
			<% item.links.each do |link| %>
				<li><%= link_to link.url, link.url %></li>
			<% end %>
		</ul>
	</li>
<% end %>
</ul>