<footer class="flex">
      <a class="mr-4 text-blue-500" href="/about">About LearnAwesome</a>
      <a class="mr-4 text-blue-500" href="https://twitter.com/learn_awesome?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @learn_awesome</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a class="mr-4 text-blue-500" width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
      <a class="mr-4 text-blue-500" href="https://www.producthunt.com/posts/learnawesome?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-learnawesome" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=161992&theme=light" alt="LearnAwesome - Humanity's universal learning map | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
      <small class="text-muted ml-auto">&copy;</small>
</footer>
