<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
<% @items.each do |item| %>
  <li class="col-span-1 bg-white rounded-lg shadow">
  <%= render ItemPanelComponent.new(item: item, user: @user) %>
  </li>
<% end %>
</li>
</ul>