<% if @item.item_type_id == 'video' %>
    <div class="relative mx-auto w-full rounded-lg shadow-lg">
        <a href="<%= item_path(@item) %>" class="relative block w-full rounded-lg overflow-hidden focus:outline-none focus:shadow-outline">
            <img class="w-full" src="<%= @item.image_url %>" alt="">
            <div class="absolute inset-0 w-full h-full flex items-center justify-center">
                <svg class="h-8 w-8 text-indigo-500" fill="currentColor" viewBox="0 0 84 84">
                <circle opacity="0.9" cx="42" cy="42" r="42" fill="white"></circle>
                <path d="M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z"></path>
                </svg>
            </div>
        </a>
    </div>
<% else %>
    <img class="w-full h-auto rounded-md shadow-lg" src="<%= @item.image_url %>" alt="">
<% end %>