<div class="mb-4">
<nav aria-label="breadcrumb">
  <h1 class="h3"><%= @item_type.display_name_plural %></h1>
</nav>
</div>

<div class="row">
<!-- Cards with Tabs -->
    <div class="col-md-6 mb-4">
      <% @topics.each do |topic| %>
      <% topic_items = @items.select { |i| i.topics.include?(topic) } %>
      <% next if topic_items.blank? %>
      <div class="card mb-2">
        <div class="card-header d-md-flex align-items-center">
          <h2 class="h3 card-header-title"><%= link_to topic.display_name, topic, class: "btn #{Topic.button_style}" %></h2>
        </div>

        <div class="card-body">

            		<% topic_items.each do |item| %>
            		<div class="mb-2">
            			<%= link_to item.display_name, item %>
        			</div>
            		<% end %>

        </div>

      </div>
      <% end %>
    </div>
</div>

