<% 
    all_topics = Topic.get_all
    top = all_topics.group_by(&:parent_id)
%>
<div class="row">
<% top.each do |parent_id, children| %>
    <% parent = all_topics.find { |t| t.id == parent_id } %>
    <% next if parent.try(&:parent_id) %>
    <% next if context and (!parent or parent.parent_id != context.id) %>
    <div class="col-4 mb-4">
        <div class="card">
            <header class="card-header">
                <h2 class="h3 card-header-title">
                <img class="u-avatar rounded-circle mr-3" src="<%= parent.try(:image_url) || 'https://learnawesome.org/stream/assets/img/logo-mobile.png' %>" alt="<%= parent.try(&:display_name) || 'Miscellaneous' %>">
                    <% if parent %>
                        <%= link_to parent.display_name, topic_path(parent) %>
                    <% else %>
                        Miscellaneous
                    <% end %>
                </h2>
            </header>

            <div class="card-body">
                <% children.take(20).each do |child| %>
                    <%= link_to child.display_name_without_ancestors, topic_path(child), class: "mr-3" %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
</div>