<h2>
	<%= link_to topic.name.capitalize, topic_path(topic) %>
	<% if current_user %>
	<%= link_to (@topic_action ? "Unfollow" : "Follow"), toggle_follow_topic_path(topic), method: :post, class: "btn btn-sm btn-pill " + (@topic_action ? "btn-danger" : "btn-success") %>
	<% end %>
	<%= link_to "Gitter Chat", ("https://gitter.im/learn-awesome/" + topic.chat_room), class: "btn btn-sm btn-pill btn-warning", target: :_blank %>

</h2>
<div><br/><br/></div>
<% topic.items.group_by(&:item_type).each do |item_type, items| %>
	<%= render items %>
<% end %>