<h2><%= link_to topic.name.capitalize, topic_path(topic) %></h2>
<% topic.items.group_by(&:item_type).each do |item_type, items| %>
	<h4><%= item_type.id.pluralize.capitalize %></h4>
	<%= render items %>
<% end %>