<% if params['list'] == 'true' %>
<div class="text-center mb-8">
You can also  <a href="/topics" class="underline text-blue-700">browse topics subject-wise</a>.
</div>

    <div style="column-width: 300px;">
    <%= render partial: 'topics/topic_name', collection: Topic.get_all, cached: false %>
    </div>


<% else %>
<div class="text-center">
    You can also see the <a href="/topics?list=true" class="underline text-blue-700">entire list of topics here</a>.
</div>

<%= render partial: 'hierarchy', locals: {root_topic: nil, show_max: 35} %>

<% end %>
