<div style="column-width: 300px;">
<% Topic.all.sort_by(&:display_name).each do |topic| %>
	<div><%= link_to topic.display_name, topic_path(topic), class: "", style: "margin-bottom: 8px" %></div>
<% end %>
</div>
