//
// Font Sizes
//

.font-size-44,
.font-size-124 {
  line-height: 1;
}

.font-size-default {
  font-size: 1rem;
}

.font-size-14 {
  font-size: .88rem;
}

.font-size-18 {
  font-size: 1.13rem;
}

.font-size-22 {
  font-size: 1.38rem;
}

.font-size-44 {
  font-size: 2.75rem;
}

.font-size-124 {
  font-size: 7.75rem;
}