.form-checkbox {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    display:inline-block;
    height:1.5em;
    width:1.5em;
    vertical-align:middle;
    border-color:transparent;
    border-width:1px;
    border-radius:.5rem;
    background-color:#4a5568;
    background-origin:border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
   }
   .form-checkbox,
   .form-checkbox:focus {
    -webkit-box-shadow:none;
    box-shadow:none
   }
   .form-checkbox:focus {
    outline:none
   }
   .form-checkbox:focus:not(:checked) {
    border-color:transparent
   }
   .form-checkbox:checked {
    background-color:#667eea;
    border-color:#667eea;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3E%3C/svg%3E");
    background-size:100% 100%;
    background-position:50%;
    background-repeat:no-repeat
   }
   .form-checkbox::-ms-check {
    color:transparent;
    background:inherit;
    border-color:inherit;
    border-radius:inherit;
    border-width:1px
   }
   .form-radio {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    display:inline-block;
    height:1.5em;
    width:1.5em;
    vertical-align:middle;
    border-color:transparent;
    border-width:1px;
    border-radius:50%;
    background-color:#4a5568;
    background-origin:border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
   }
   .form-radio,
   .form-radio:focus {
    -webkit-box-shadow:none;
    box-shadow:none
   }
   .form-radio:focus {
    outline:none
   }
   .form-radio:focus:not(:checked) {
    border-color:transparent
   }
   .form-radio:checked {
    background-color:#667eea;
    border-color:#667eea;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
    background-size:100% 100%;
    background-position:50%;
    background-repeat:no-repeat
   }
   .form-radio::-ms-check {
    color:transparent;
    background:inherit;
    border-color:inherit;
    border-radius:inherit;
    border-width:1px
   }
   .form-input,
   .form-multiselect,
   .form-textarea {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color:#4a5568;
    border-color:transparent;
    border-width:1px;
    border-radius:.5rem;
    -webkit-box-shadow:none;
    box-shadow:none;
    padding:.5rem .75rem;
    font-size:1rem;
    line-height:1.375
   }
   .form-input:focus,
   .form-multiselect:focus,
   .form-textarea:focus {
    outline:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-color:transparent
   }
   .form-select {
    background-color:#4a5568;
    border-color:transparent;
    border-width:1px;
    border-radius:.5rem;
    -webkit-box-shadow:none;
    box-shadow:none;
    padding-top:.5rem;
    padding-right:calc(1rem + 1.5em);
    padding-bottom:.5rem;
    padding-left:.75rem;
    font-size:1rem;
    line-height:1.375;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3E%3C/svg%3E");
    background-position:right .5rem center;
    background-repeat:no-repeat;
    background-size:1.5em 1.5em
   }
   .form-select::-ms-expand {
    display:none
   }
   .form-select:focus {
    outline:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-color:transparent
   }
   .appearance-none {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
   }
