<article class="card prose">
	<h1>We're building humanity's learning map.</h1>
	<p>Today's learning platforms are not actually learner-centric. They want the students to be locked within their apps &amp; websites, learn 
	ONLY from their own content and their own preferred formats. But the way we learn in 21st century is far too rich. <b>We learn from blogs, podcasts, videos, tweetstorms, 
	livestreams, games, newsletters, infographics, Q&A sites, forums and much more.</b> Discovering the right kind of learning material for YOU at the right time is still too hard.</p>

	<p>In 2012, Danny Hillis had presented the vision of <a href="https://www.youtube.com/watch?v=wKcZ8ozCah0" target="_blank"><u>a global 
	learning map</u></a>. However, it did not really materialize at that time. There have been similar calls for a <a href="https://www.usv.com/writing/2018/11/looking-for-syllabus-2-0/" target="_blank"><u>syllabus 2.0</u></a>. 
	Some of us got together and decided to build it for ourselves. Everyone is welcome to join!</p>

	<p>We have a browser extension (<a href="https://chrome.google.com/webstore/detail/learnawesome/mfmicnedcecjcchodnaijomibiplacie" target="_blank"><u>Chrome 
	/ Brave</u></a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/learnawesome/" target="_blank"><u>Firefox</u></a>), <a href="/join_slack" target="_blank"><u>a 
	group chat for learners</u></a>, an API and even embeddable widgets to display your own learning activity on your own website.</p>

	<p>What's more: We've just started <a href="/project-based-learning.html" target="_blank"><u>project-based learning programs</u></a>. Practitioners 
	will curate high-quality syllabus of online materials for you and you will work along with your peers to accomplish meaningful projects. After all, there is no credential better 
	than high quality work that the whole world can evaluate.</p>

	<p>I have been the sole developer so far, working nights and weekends. If you&quot;re a programmer or designer, please consider 
	<a href="https://github.com/learn-awesome/learn" target="_blank"><u>contributing to this open-source app</u></a>.</p>
		
</article>