<div style="text-align: center; margin-bottom: 3.0em;" class="form-group">
<h1>I want to learn</h1>
<%= render 'components/autocomplete', containerid: 'maintopic', placeholder: 'e.g. machine learning', source: '/topics/search.json?q=%QUERY', is_remote: true %>

<h5 class="mt-4"><a href="/about">What is LearnAwesome?</a></h5>
</div>

<div class="row">
	<div class="col-md-4">
	<blockquote class="twitter-tweet"><p lang="en" dir="ltr">A little heads up. <a href="https://twitter.com/Learn_Awesome?ref_src=twsrc%5Etfw">@Learn_Awesome</a> is a one-stop platform for gathering learning resources for a topic. <br>I wanted to brush up on MS-Excel &amp; spent 15mins on Google looking for courses while I could&#39;ve just searched over <a href="https://twitter.com/Learn_Awesome?ref_src=twsrc%5Etfw">@Learn_Awesome</a>.<br>Silly me! 😑</p>&mdash; Jarmos (@Jarmosan) <a href="https://twitter.com/Jarmosan/status/1183935452467720192?ref_src=twsrc%5Etfw">October 15, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>

	<div class="col-md-4">
	<blockquote class="twitter-tweet" data-conversation="none"><p lang="en" dir="ltr">Whoa! 😲 <a href="https://twitter.com/ProductHunt?ref_src=twsrc%5Etfw">@ProductHunt</a> featured <a href="https://t.co/f5DnvyDfcK">https://t.co/f5DnvyDfcK</a> on their homepage yesterday! Would you just look at this? 😎 <a href="https://t.co/wctJlOLycU">pic.twitter.com/wctJlOLycU</a></p>&mdash; Learn Awesome (@Learn_Awesome) <a href="https://twitter.com/Learn_Awesome/status/1153641404444233728?ref_src=twsrc%5Etfw">July 23, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
	</div>

	<div class="col-md-4">
	<blockquote class="twitter-tweet"><p lang="en" dir="ltr">This is an amazing video i came across last week and recommend everyone to watch.<br>Also i found it on <a href="https://twitter.com/Learn_Awesome?ref_src=twsrc%5Etfw">@Learn_Awesome</a> under economics. <a href="https://twitter.com/nileshtrivedi?ref_src=twsrc%5Etfw">@nileshtrivedi</a> <a href="https://t.co/U6rUtXF6GR">https://t.co/U6rUtXF6GR</a></p>&mdash; Priyank Agrawal (@priyankinfinnov) <a href="https://twitter.com/priyankinfinnov/status/1173273862953259008?ref_src=twsrc%5Etfw">September 15, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
	</div>
</div>
