<article class="card prose">
  <h1>Join us on Slack</h1>
  
  <p>We have a Slack community of lifelong learners.</p>
  <a class="btn btn-primary" style="color: white" href="https://join.slack.com/t/learnawesomeorg/shared_invite/zt-evhyahcw-FpHIMYqz3S7YkB54Aq2HPQ" target="_blank">Join our community Slack</a>

  <p>You can also add the LearnAwesome Bot to your own Slack teams. This lets your team members subscribe to topics within any of
  your public channels with simple slash commands such as <code>/startlearning [topic]</code> and <code>/stoplearning [topic]</code>.
  This bot will automatically post learning resources on subscribed topics.
  </p>

  <a href="https://slack.com/oauth/v2/authorize?client_id=1084096741861.1332746175969&scope=chat:write,chat:write.public,commands&user_scope="><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
</article>