
<div class="row">
<!-- Cards with Tabs -->
<div class="col-md-6 mb-4">

	      <div class="card mb-4">
	        <div class="card-header d-md-flex align-items-center">
	          <h2 class="h3 card-header-title">Games</h2>
	        </div>

	        <div class="card-body">
                <h2>Games</h2>
	        </div>

	      </div>
</div>

<div class="danger success info notice warning">