<div class="article">
    <h1 class="block text-gray-800 font-semibold text-2xl mt-2">Project-based learning at LearnAwesome.org</h1>


<p style="margin-top: 3.0em; text-align: center;"><i>Here is a sneak peek into what we've been working on:</i></p>

<img src="./bullets.png" width="100%" />


<a class="cta" href="/join_slack">Join our Slack for your first free course!</a>

<p>Learning has been getting transformed at a breakneck speed - much before Covid-19 lockdown. The first trigger was the MOOC revolution, which drastically increased the availability
    of high quality course materials and lecturers. I took Coursera's famous machine Learning course and scored 100.0% (I'm quite proud
    of it, as I was not a CS graduate 😎). I was astonished that I could learn from world-known experts for completely free.
</p>

<p>However, this was just the beginning. MOOCs have run into challenges. Course completion rates have been declining and are now even 
    <a href="https://www.insidehighered.com/digital-learning/article/2019/01/16/study-offers-data-show-moocs-didnt-achieve-their-goals" target="_blank">lower than 4%</a>.
    The peer-learning aspect never materialized and the need for mentoring/tutoring remains unserved.
</p>

<p>There is another way ed-tech platforms have under-delivered on their promise. Every platform - Khan Academy, Coursera, EdX
    - started creating their own content, and that necessarily made them a <b><i>bad content curator</i></b>. 3Blue1Brown may have the best material
    on linear algebra or calculus, but Coursera or Khan Academy do not link out to them - fearing the loss of users.
</p>

<p>This is the problem we intend to solve by building <a href="https://learnawesome.org/topics" target="_blank">a universal learning map for humanity</a> - 
    leveraging existing learning resources and thus, always acting in the best interest of students. We have a rich collection now with more than 2,500 topics
    and almost 15,000 resources (and growing). We have built a social network of lifelong learners, provided self-learning tools such as
    <a href="https://medium.com/learn-awesome/practice-what-you-learn-using-learnawesome-orgs-flashcards-3343d57a33b0" target="_blank">
        spaced-repetition based Flashcard practice</a>, and an informal community.
</p>

<p>Our education system heavily underestimates what students are capable of. I read <a href="https://sivers.org/kimo" target="_blank">this article
    by Derek Sivers</a> many years ago and it had a profound influence on how I looked at learning. Quoting:
</p>

<blockquote>
    The pace was intense, and I loved it. Finally, someone was challenging me — keeping me in over my head — encouraging and expecting me to pull myself up quickly.
    I was learning so fast, it felt like the adrenaline rush you get while playing a video game. He tossed every fact at me and made me prove that I got it.
    <br/><br/>
    In our three-hour lesson that morning, he taught me a full semester of Berklee’s harmony courses. In our next four lessons, he taught me the next
    four semesters of harmony and arranging classes. 
    <br><br>
    When I got to college and took my entrance exams, I tested out of those six semesters of requirements.
</blockquote>

<p>So, now we are taking the next step. Many people need a peer-group, with clearly defined project goals and mentoring by experts for highly effective
    learning.</p>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Why project-based? <br><br>Because new concept <b>DON&#39;T</b> stick without a frame to attach to. Projects have clear goals (compare with your school/college experience).<br><br>2nd benefit of projects: Publishing high-quality work creates reputation that grows with compounding effect &amp; opens doors.</p>&mdash; Learn Awesome (@Learn_Awesome) <a href="https://twitter.com/Learn_Awesome/status/1260438410231197696?ref_src=twsrc%5Etfw">May 13, 2020</a></blockquote>

<p>
    The benefits of project-based learning are applicable to students of every age. College graduates are struggling with employability
    because the college credentials don't inspire confidence among the employers. It is well known that many companies have started
    giving weight to demonstrated execution capabilities (such as GitHub profiles for programmers, and Dribbble for designers).
</p>


<p><b>We are currently offering project-based learning program on the following topics:</b></p>

<iframe class="airtable-embed" src="https://airtable.com/embed/shrwVW2ihB43qgTmm?backgroundColor=green&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="1100" style="background: transparent; border: 1px solid #ccc;"></iframe>


<p>Salient features:</p>
<img src="./bullets.png" width="100%" />


<a class="cta" href="/join_slack">Join our Slack for your first free course!</a>

</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>