<div class="row">
<div class="col-md-6 mb-4">
<div class="card">

<header class="card-header">
	<h2 class="h3 card-header-title">Topics</h2>
</header>

<div class="card-body">
	<% @topics.to_a.each do |topic| %>
		<div><%= link_to topic.display_name, topic_path(topic), class: "", style: "margin-bottom: 8px" %></div>
	<% end %>
</div>

</div>
</div>
</div>