<h3>Search results:</h3>
<div class="row">
	<% if (@topics + @items + @people).blank? %>
		<div>No results for <%= @q %>. Let us know using the "Open Chat" button in bottom right.</div>
	<% end %>

	<% unless @topics.blank? %>
		<div class="card col-md-5 mb-4 mr-2 ml-2">
			<header class="card-header">
				<h2 class="h3 card-header-title">Topics</h2>
			</header>

			<div class="card-body">
				<% @topics.to_a.each do |topic| %>
				<div><%= link_to topic.display_name, topic_path(topic), class: "", style: "margin-bottom: 8px" %></div>
				<% end %>
			</div>
		</div>
	<% end %>

	<% unless @items.blank? %>
		<div class="card col-md-5 mb-4 mr-2 ml-2">
			<header class="card-header">
				<h2 class="h3 card-header-title">Items</h2>
			</header>

			<div class="card-body">
				<% @items.to_a.each do |item| %>
					<div><%= link_to item.name, item_path(item), class: "", style: "margin-bottom: 8px" %></div>
				<% end %>
			</div>
		</div>
	<% end %>

  <% unless @people.blank? %>
    <div class="card col-md-5 mb-4 mr-2 ml-2">
      <header class="card-header">
        <h2 class="h3 card-header-title">Persons</h2>
      </header>

      <div class="card-body">
        <% @people.to_a.each do |person| %>
          <div><%= link_to person['name'], person_path(person), class: "", style: "margin-bottom: 8px" %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

