<div class="row">
	<div class="col-md-12 mb-4">
	  <div class="card mb-4">
	  	<div class="card-header d-md-flex align-items-center">
	  		<h2><b>What's New</b></h2>
	  	</div>
	  	<div class="card-body">
	  		<%= react_component("WhatsNewItem", { message: "2019-11-01: Better search. Easy sharing of items and topics on FB and Twitter. Layout fixes." }) %>

	  		<%= react_component("WhatsNewItem", { message: "2019-08-04: Dashboard now shows latest reviews from people you follow." }) %>

	  		<p>2019-08-03: Your reviews can now automatically be posted to Twitter. Check <% if current_user and current_user.is_from_twitter? %><a href="/users/<%= current_user.id %>/settings">settings</a><% else %>settings page<% end %> to enable it.</p>

	  		<%= react_component("WhatsNewItem", { message: "2019-08-02: Reviews have their own URLs now." }) %>

	  	</div>
	  </div>
	</div>
</div>
