<div class="nested-fields">
Name: <%= f.text_field :name, maxlength: 24, required: false, style: "max-width: 150px" %>
URL: <%= f.text_field :url, minlength: 8, maxlength: 1024, required: true, class: "max-w-md" %>
Primary?: <%= f.check_box :is_primary %>&nbsp; &nbsp;
<%= link_to_remove_association f do %><i class="fa fa-trash" aria-hidden="true"></i><% end %>
</div>