<div class="nested-fields">
<%= f.text_field :url, minlength: 8, maxlength: 1024, required: true, class: "max-w-2xl" %>
<%= link_to_remove_association f do %><i class="fa fa-trash" aria-hidden="true"></i><% end %>
</div>