<div class="max-w-md p-6 mx-auto bg-white rounded-md shadow-md">
    <h1 class="font-bold text-lg mb-4">Create New Level for <%= link_to @course.name, dashboard_course_path(@course), class: 'text-indigo-500 hover:text-indigo-700 underline' %></h1>
    <%= render 'form' %>
</div>
