<div class="py-16 bg-gray-50 overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 space-y-8 sm:px-6 lg:px-8">
    <div class="text-base max-w-prose mx-auto lg:max-w-none">
      <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase"></h2>
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">LevelUp: The Best Way to Learn from the Internet</p>
    </div>
    <div class="relative z-10 text-base max-w-prose mx-auto lg:max-w-5xl lg:mx-0 lg:pr-72">
      <p class="text-lg text-gray-500">LevelUp is a new learning format that leverages the curated high-quality learning resources from the Internet, mentoring from professionals, flexible pacing, motivated peer group - all leading up to building a public portfolio of accomplishments to unlock career and life opportunities for you.</p>
    </div>
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
      <div class="relative z-10">
        <div class="prose prose-indigo text-gray-500 mx-auto lg:max-w-none">

          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">8/ The best teachers are on the Internet. The best books are on the Internet. The best peers are on the Internet.</p>&mdash; Naval (@naval) <a href="https://twitter.com/naval/status/912222017700556800?ref_src=twsrc%5Etfw">September 25, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 

          <p>We have been collecting and curating learning resources from the Internet on all <a href="/topics">topics</a>. LevelUp will bring in the crucial missing ingredients for effective learning: A series of challenges, valuable connections with peers and experts, and demonstrable accomplishments.</p>
          <ul>
            <li><b>A course is a series of levels, curated by reputed topic experts.</b></li>
            <li><b>Each level requires submitting a proof of learning.</b></li>
            <li><b>You get access to the next level and the peer group ONLY after your proof of learning is accepted by the mentors.</b></li>
            <li><b>The chat rooms for each level - supports highly engaging discussions, video calls, collaborations and more.</b></li>
          </ul>
          <p>This format is designed to be lightweight for the mentors - allowing scaling of attention and guidance - but rigorous for the learners.</p>
          <h3>Give this a try!</h3>
          <p>This is a novel format and you can only judge its effectiveness once you try it. If you'd like to START a course in this format, please <a href="https://twitter.com/Learn_Awesome" target="_blank">message us on Twitter</a>.</p>
        </div>
        <div class="mt-10 flex text-base max-w-prose mx-auto lg:max-w-none">
          <div class="rounded-md shadow">
            <a href="<%= courses_path %>" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
              Browse Courses
            </a>
          </div>
          <!-- <div class="rounded-md shadow ml-4">
            <a href="<%= new_course_path %>" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50">
              Create your own course
            </a>
          </div> -->
        </div>
      </div>
      <div class="mt-12 relative text-base max-w-prose mx-auto lg:mt-0 lg:max-w-none">
        <svg class="absolute top-0 right-0 -mt-20 -mr-20 lg:top-auto lg:right-auto lg:bottom-1/2 lg:left-1/2 lg:mt-0 lg:mr-0 xl:top-0 xl:right-0 xl:-mt-20 xl:-mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="bedc54bc-7371-44a2-a2bc-dc68d819ae60" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#bedc54bc-7371-44a2-a2bc-dc68d819ae60)" />
        </svg>
        <blockquote class="relative bg-white rounded-lg shadow-lg">
          <div class="rounded-t-lg px-6 py-8 sm:px-10 sm:pt-10 sm:pb-8">
            <div class="relative text-lg text-gray-700 font-medium mt-8">
              <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-gray-200" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
              </svg>
              <p class="relative">I went through the Chess tactics course. The fact that every level required an accomplishment that I was genuinely proud of, kept giving me the energy. And that I would be left out of my amazing peer group unless I pass the levels, kept giving me the motivation.</p>
            </div>
          </div>
          <cite class="relative flex items-center sm:items-start bg-indigo-600 rounded-b-lg not-italic py-5 px-6 sm:py-5 sm:pl-12 sm:pr-10 sm:mt-10">
            <div class="relative rounded-full border-2 border-white sm:absolute sm:top-0 sm:transform sm:-translate-y-1/2">
              <img class="w-12 h-12 sm:w-20 sm:h-20 rounded-full bg-indigo-300" src="/kalyani.png" alt="">
            </div>
            <span class="relative ml-4 text-indigo-300 font-semibold leading-6 sm:ml-24 sm:pl-1">
              <p class="text-white font-semibold sm:inline">Kalyani</p>
              <p class="sm:inline"></p>
            </span>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>