//
// Icons
//

.u-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.25rem;

  &--sm {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.125rem;
  }
}

.u-icon-wrap--horizontal--lg {
  width: 100%;
  height: 6rem;
}

@media (min-width: $sm) {
  .u-icon-wrap--horizontal--lg {
    width: 6.75rem;
    height: 4.5rem;
  }
}
