<div class="mb-4">
    <nav aria-label="breadcrumb">
      <h1>
        Flash Cards

        <%= link_to 'Practice', practice_flash_cards_path, class: "ml-2 float-right btn btn-primary" %>
        <%= link_to 'Add New Flash Card', new_flash_card_path, class: "float-right btn btn-success" %>
      </h1>
    </nav>
</div>


  <div class="row">
    <div class="col-md-12 mb-4">
      <%= react_component("FlashCardList", { flash_cards: @flash_cards.as_json }) %>
    </div>
  </div>
