/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require font-awesome

 */


.u-sidebar-nav-menu__link.selectedtab {
  background-color: rgba(107, 21, 182, 0.1);
}

$stars: 5;
$star-size: 20px;
$star-spacing: 2px;
$star-on-color: #F9DF4A;
$star-off-color: #CCCCCC;

.rating {
	float: left;
	width: ($star-size * $stars) + ($star-spacing * ($stars - 1));
	height: $star-size;
	margin: 0 auto;

	label {
		width: $star-size;
		height: $star-size;
		cursor: pointer;
		float: right;
		&:not(:first-of-type) {
			padding-right: $star-spacing;
		}
		
		&:before {
			content: "\2605";
			font-size: $star-size + 2px;
			color: $star-off-color;
			line-height: 1;
		}
	}
	
	input {
		display: none;
	}
	
	input:checked ~ label:before,
	&:not(:checked) > label:hover:before,
	&:not(:checked) > label:hover ~ label:before {
		color: $star-on-color;
	}
}

.star_ratings {
	text-align: center;
	width: 226px;
	margin: 5px auto;
	text-align: center;
}

.inplacereview {
	.review_status_input {
		max-width: fit-content;
		margin: auto;
		margin-bottom: 35px;
	}
	#review_status {
		max-width: 255px;
	}
	.item_categorization {
		max-width: 600px;
		margin: auto;
		margin-bottom: 20px;

		.btn-group {
			display: block;
		}
	}
	.item_review_notes {
		max-width: 500px;
		margin: auto;

		textarea {
			height: 100px;
		}
	}
}


#topformdiv .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#topformdiv .tt-menu {
	background-color: white;
	min-width: 350px;
	max-width: 900px;
	border: thin solid #6b15b6;
}

#topformdiv .tt-dropdown-menu {
	max-height: 150px;
	overflow-y: auto;
}

#topformdiv .tt-selectable {
}

#topformdiv .tt-menu a div {
  padding: 0.3em;
}

#topformdiv .tt-menu a:hover div {
	background-color: #6b15b6;
	color: white;
}

#search_topic .tt-menu {
	min-width: 120px;
	max-width: 300px;
	border: thin solid #6b15b6;
}

#search_topic a {
	cursor: pointer;
}

.items_for_topic {
	max-height: 320px;
	overflow-y: auto;
}

.dark-green {
	background-color: #2b7d4a;
	color: white;
}

.dark-green:hover {
	color: white;
	background-color: #21693c;
}

.grey-btn {
	background-color: #5a6a7e;
	color: white;
}

.btn-success {
	background-color: #12a78d !important;
}

.item_links input {
	min-width: 70%;
}

.nohover:hover {
	cursor:default !important;
}

.remove_topic {
	background-color: #ff7072;
}

.remove_topic:hover {
	background-color: #f54b4d;
}

.edit_item_type_btn {
	background-color: #f9b248;
}

.edit_item_type_btn:hover {
	background-color: #f9a82e;
}

#search_topic input {
	width: 120px;
}

#search_topic .input-group-append .btn-group {
	margin-left: 10px;
}

#item_name_input {
	width: 100%;
	padding: 10px;
}

.form-error {
	color: red;
	font-size: 11px;
}

.hidden {
	display: none;
}

.item_links .fa {
	font-size: 15px;
}

.item_links .fa-trash {
	margin: 5px;
	color: red;
	margin-left: 10px;
	cursor: pointer;
}

#addNewLink {
	font-size: 20px;
	cursor: pointer;
}

input#item_estimated_time {
	width: 5.0em;
}

input#item_year_of_publication {
	width: 6.0em;
}

.item_description {
	font-size: 14px;
	line-height: 1.5;
	white-space: pre-line;
}

.item_extra_details {
	margin-top: 10px;
}

#item_description_input {
	padding: 10px;
	width: 100%;
}

.description_card {
	margin-top: 13px;
}

#item_time_unit, #item_typical_age_range {
	max-width: 100px;
}

.image_input {
	font-size: 14px;
}

.item_image {
	max-width: 150px;
	max-height: 150px;
	margin-right: 12px;
}


#maintopic .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#maintopic .tt-menu {
	background-color: white;
	min-width: 350px;
	max-width: 900px;
	border: thin solid #6b15b6;
}

#maintopic .tt-dropdown-menu {
	max-height: 150px;
	overflow-y: auto;
}

#maintopic .tt-selectable {
}

#maintopic .tt-menu a div {
  padding: 0.3em;
}

#maintopic .tt-menu a:hover div {
	background-color: #6b15b6;
	color: white;
}

#maintopic a {
	cursor: pointer;
}

.paginations {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; 

	  a, span {
	    padding: 0.2em 0.3em;
	  }
   .disabled {
		color: #bf92e6;
	 }
	 .current {
    font-style: normal;
    font-weight: bold;
    background-color: #c8aedf;
    display: inline-block;
    width: 1.4em;
    color: #691bac;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }
  a {
    text-decoration: none;
    color: #6b15b6;
  }
  a:hover, a:focus {
		text-decoration: underline;
	}
 }

 #review_notes {
    width: 100%;
    resize: none;
}
.pd-6{
	padding: 6px;
}
.ml-6{
	margin-left: 6px;
}
.full_width{
	width: 100%;
}
.header-sm{
	padding: 0.5rem 1.5rem !important;
}
.custom-control-label{
	justify-content: left !important;
}
.domain_text{
	color: #b3b3b3;
}
#accordion_filters{
	.card-header{
		padding: 0.25rem 0.5rem !important;
	}
	.btn-full{
		width: 100%;
		text-align: left;
	}
	.fa{
		float: right;
	}
}
.follow_btn{
	float: right
}
.btn-list{
	margin: 0px 2px;
}
.rating_disabled{
	label::before {
	    content: "\2605";
	    font-size: 22px;
	    color: #CCCCCC;
	    line-height: 1;
	}
	label{
		float:left;
	}
	label.checked:before{
		color: #F9DF4A;
	}
}

.twitter-typeahead {
	width: 100%;
}