/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require font-awesome

 */


.u-sidebar-nav-menu__link.selectedtab {
  background-color: rgba(107, 21, 182, 0.1);
}

$stars: 5;
$star-size: 20px;
$star-spacing: 2px;
$star-on-color: #F9DF4A;
$star-off-color: #CCCCCC;

.rating {
	width: ($star-size * $stars) + ($star-spacing * ($stars - 1));
	height: $star-size;
	margin: 0 auto;

	label {
		float: right;
		position: relative;
		width: $star-size;
		height: $star-size;
		cursor: pointer;
		
		&:not(:first-of-type) {
			padding-right: $star-spacing;
		}
		
		&:before {
			content: "\2605";
			font-size: $star-size + 2px;
			color: $star-off-color;
			line-height: 1;
		}
	}
	
	input {
		display: none;
	}
	
	input:checked ~ label:before,
	&:not(:checked) > label:hover:before,
	&:not(:checked) > label:hover ~ label:before {
		color: $star-on-color;
	}
}


#topformdiv .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#topformdiv .tt-menu {
	background-color: white;
	min-width: 350px;
	max-width: 900px;
	border: thin solid #6b15b6;
}

#topformdiv .tt-dropdown-menu {
	max-height: 150px;
	overflow-y: auto;
}

#topformdiv .tt-selectable {
}

#topformdiv .tt-menu a div {
  padding: 0.3em;
}

#topformdiv .tt-menu a:hover div {
	background-color: #6b15b6;
	color: white;
}

#search_topic .tt-menu {
	min-width: 120px;
	max-width: 300px;
	border: thin solid #6b15b6;
}

#search_topic a {
	cursor: pointer;
}

.dark-green {
	background-color: #2b7d4a;
	color: white;
}

.dark-green:hover {
	color: white;
	background-color: #21693c;
}

.grey-btn {
	background-color: #5a6a7e;
	color: white;
}

.item_links input {
	min-width: 70%;
}

.nohover:hover {
	cursor:default !important;
}

.remove_topic {
	background-color: #ff7072;
}

.remove_topic:hover {
	background-color: #f54b4d;
}

.edit_item_type_btn {
	background-color: #f9b248;
}

.edit_item_type_btn:hover {
	background-color: #f9a82e;
}

#search_topic input {
	width: 120px;
}

#search_topic .input-group-append .btn-group {
	margin-left: 10px;
}

#item_name_input {
	width: 100%;
	padding: 10px;
}

.form-error {
	color: red;
	font-size: 11px;
}

.hidden {
	display: none;
}

.item_links .fa {
	font-size: 15px;
}

.item_links .fa-trash {
	margin: 5px;
	color: red;
	margin-left: 10px;
	cursor: pointer;
}

#addNewLink {
	font-size: 20px;
	cursor: pointer;
}