<div class="row">
	<div class="col-md-6 mb-4">
		<div class="card">

			<header class="card-header">
			  <h2 class="h3 card-header-title">Edit Review for <%= @review.item.name %></h2>
			</header>

			<div class="card-body">
				<%= render :partial => 'form' %>
			</div>

		</div>
	</div>
</div>