          <a href="/" class="group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-purple-100 hover:text-purple-600">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6"/>
            </svg>
            Home
          </a>

          <a href="/items/search" class="group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-purple-100 hover:text-purple-600">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
            Add A Link
          </a>

          <a href="/items/query" class="group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-purple-100 hover:text-purple-600">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
            Advanced Search
          </a>

          <div class="border-t border-purple-200 mb-2 mt-2"></div>
          
          <div class="z-0 flex ">
            <a href="/topics" class="group flex-grow inline-flex items-center px-2 py-2 rounded-l-md hover:border hover:border-gray-300 hover:bg-purple-100 hover:text-purple-600 text-sm font-medium">
              <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
              </svg>
              Topics
            </a>
            <a href="/topics/discover" class="-ml-px inline-flex items-center px-3 py-2 rounded-r-md hover:border hover:border-gray-300 text-sm font-medium text-gray-700 hover:bg-purple-100 hover:text-purple-600">
              Random
            </a>
          </div>

          <div class="mt-1 z-0 flex ">
            <a href="/formats" class="group flex-grow inline-flex items-center px-2 py-2 rounded-l-md hover:border hover:border-gray-300 hover:bg-purple-100 hover:text-purple-600 text-sm font-medium text-gray-700">
              <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
              </svg>
              Formats
            </a>
            <a href="/item_types/discover" class="-ml-px inline-flex items-center px-3 py-2 rounded-r-md hover:border hover:border-gray-300 text-sm font-medium text-gray-700 hover:bg-purple-100 hover:text-purple-600">
              Random
            </a>
          </div>

          <div class="mt-1 z-0 flex ">
            <a href="/people" class="group flex-grow inline-flex items-center px-2 py-2 rounded-l-md hover:border hover:border-gray-300 hover:bg-purple-100 hover:text-purple-600 text-sm font-medium text-gray-700">
              <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
                <path fill="#fff" d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
              </svg>
              Experts
            </a>
            <a href="/people/discover" class="-ml-px inline-flex items-center px-3 py-2 rounded-r-md hover:border hover:border-gray-300 text-sm font-medium text-gray-700 hover:bg-purple-100 hover:text-purple-600">
              Random
            </a>
          </div>

          <div class="mt-1 z-0 flex ">
            <a href="/users" class="group flex-grow inline-flex items-center px-2 py-2 rounded-l-md hover:border hover:border-gray-300 hover:bg-purple-100 hover:text-purple-600 text-sm font-medium text-gray-700">
              <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              Users
            </a>
            <a href="/users/discover" class="-ml-px inline-flex items-center px-3 py-2 rounded-r-md hover:border hover:border-gray-300 text-sm font-medium text-gray-700 hover:bg-purple-100 hover:text-purple-600">
              Random
            </a>
          </div>

          <a href="/items/discover" class="mt-1 group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-purple-600 hover:bg-purple-100">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
            </svg>
            Random Item
          </a>

          <% if false %>
          <a href="/allcollections" class="mt-1 group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-purple-600 hover:bg-purple-100">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"/>
            </svg>
            Browse Collections
          </a>
          <% end %>

          <% if false %>
          <a href="/collection_discover" class="group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-purple-600 hover:bg-purple-100">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
            </svg>
            Random Collection
          </a>
          <% end %>

          <div class="border-t border-gray-200 mb-2 mt-2"></div>

          <!-- disable kids corner for now
          <a href="/kids" class="mt-1 group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-purple-600 hover:bg-purple-100">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Kids Corner
          </a>

          <div class="border-t border-purple-200 mb-2 mt-2"></div>

          -->

          <!-- <a href="/programs" class="mt-1 group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-purple-600 hover:bg-purple-100">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
            </svg>
            Our Courses
          </a> -->

          <a href="/browser_addon" target='_blank' class="mt-1 group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-purple-600 hover:bg-purple-100">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
            </svg>
            Get Browser Add-on
          </a>

          <a href="https://github.com/learn-awesome/learn" target='_blank' class="mt-1 group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-purple-600 hover:bg-purple-100">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
            </svg>
            Contribute Design & Code
          </a>

          <a href="/join_slack" class="mt-1 group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-purple-600 hover:bg-purple-100">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
            </svg>
            Join Slack
          </a>

          <div class="border-t border-purple-200 mb-2 mt-2"></div>

          <a href="/about" class="mt-1 group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-purple-600 hover:bg-purple-100">
            <svg class="mr-3 h-6 w-6 text-gray-400 group-hover:text-purple-600 group-focus:text-gray-900 transition ease-in-out duration-75" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>            
            About
          </a>